<h1>Chat</h1>
<a href="/">Home</a>
<a href="/register">Sign Up</a>
<a href="/login">Login</a>
<a href="/products">Products</a>
<a href="/carts">Cart</a>
<a href="/chat">Chat</a>

<h2>Bienvenido al chat!</h2>
<div>
  <input type="text" id="chat-box" />
</div>
<div>
  <p id="message-logs"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>